*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: gray;
  background-image: url(./assets/fundo.jpg);
  color: white;
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  background-color: rgb(4, 97, 4);opacity: 0.8;
  padding: 15px;
  margin-bottom: 10px;
   
}

.title{
  display: flex;
  justify-content: center;
  width: 30%;
  flex-direction: column;
  line-height: 30px;
  font-size: 40px;
  margin-left: 10px;
}

.podcast{
  color: rgb(15, 44, 15);
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  width: 70%;
  font-size: 25px;
}


a{
  color: white;
  
}

a:hover{
  color: red;
  transition: 0.4s all;
}

h1{
  font-weight: 300px;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content:space-evenly;
  backdrop-filter: blur(30px);
  padding: 25px;
}

img{
  width: 600px;
  border-radius: 100%;
  border: 2px solid green;  
}

h2{
  font-size: 56px;
  line-height: 50px;
}


span{
  color: green;
}

p{
  text-align: justify;
  max-width: 500px;
  line-height: 20px;
  padding: 30px;
}

.caotico{
  color: red;
}
